4kdownload.com
akregatorrc
Android Open Source Project
anjuta
autostart
autostart-scripts
baloofilerc
base16-shell
Buka
cef_user_data
chromium
Code
Code - OSS
code-oss-dev
compiz-1
configstore
dconf
deepin
deepin-manual
deepin-wm-switcher
dleyna-renderer-service.conf
dleyna-server-service.conf
emaildefaults
enchant
envar
eog
epdfview
epiphany
evolution
fcitx
fish
fontconfig
freerdp
freshwrapper-data
gdlv
gedit
gnome-builder
gnome-control-center
gnome-session
goa-1.0
google-chrome
gtk-2.0
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
htop
ibus
JetBrains
kaccess.notifyrc
kactivitymanagerd-pluginsrc
kactivitymanagerdrc
kactivitymanagerd-statsrc
kateschemarc
kcmdisplayrc
kcmfonts
kcminputrc
kcmshell5rc
kconf_updaterc
kdebugrc
kded5rc
kded_device_automounterrc
kdeglobals
kfontinstuirc
kglobalshortcutsrc
khotkeysrc
kmenueditrc
knfsshare
knotifyrc
kobalt
krunnerrc
kscreenlockerrc
ksmserverrc
ksplashrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib
libreoffice
libvirt
lxc
manjaro
manjaro-hello.json
manjaro-tools
matplotlib
mc
menus
midori
mimeapps.list
MongoDB Compass
monitors-v1-backup.xml
monitors.xml
monitors.xml~
mpv
nautilus
nitrogen
nteract
NuGet
orage
pgmodeler
pitivi
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
plasma-workspace
plasma_workspace.notifyrc
pulse
qpdfview
qtile
QtProject.conf
qupzilla
ranger
session
skypeforlinux
Slack
startupconfig
startupconfigfiles
startupconfigkeys
Synergy
systemd
systemmonitorrc
systemsettingsrc
teamviewer
terminology
Thunar
totem
transmission
trashrc
Trolltech.conf
ubuntu-ui-toolkit
unity
unity3d
Unknown Organization
update-notifier
upstart
user-dirs.dirs
user-dirs.locale
viewnior
VirtualBox
vivaldi
vlc
wallppr
xfce4
xkb
yarn
yelp
zathura
nvim/.netrwhist
i3/config_old
gcloud
smplayer/file_settings
smplayer
NERD_tree_1
git
chrome-remote-desktop
discord
i3/config
pavucontrol-qt
pulseaudio-ctl
sigrok
RouterCfm.cfg
i3/src/Z-style.i3
i3/src/S-style.i3
wlp
vscode
clay
i3/.vscode
GIMP
gajim
hexchat
